<section id="products-section">
  <div id="products-box">
    <div class="product-card">
      <div id="product-card-image">
      <img src="assets/productOne.jpg" alt="product image">
        <div>
          <p>Add To Card</p>
        </div>
      </div>
      <div id="product-title">
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div id="product-price">
        <div id="price">$100 - $300</div>
        <div id="free-shipping">Free Shipping</div>
        <div id="price-discounted">$50 - $100</div>
      </div>
    </div>
    <div class="product-card">
      <div id="product-card-image">
      <img src="assets/productOne.jpg" alt="product image">
        <div>
          <p>Add To Card</p>
        </div>
      </div>
      <div id="product-title">
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div id="product-price">
        <div id="price">$100 - $300</div>
        <div id="free-shipping">Free Shipping</div>
        <div id="price-discounted">$50 - $100</div>
      </div>
    </div>
    <div class="product-card">
      <div id="product-card-image">
      <img src="assets/productOne.jpg" alt="product image">
        <div>
          <p>Add To Card</p>
        </div>
      </div>
      <div id="product-title">
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div id="product-price">
        <div id="price">$100 - $300</div>
        <div id="free-shipping">Free Shipping</div>
        <div id="price-discounted">$50 - $100</div>
      </div>
    </div>
    <div class="product-card">
      <div id="product-card-image">
      <img src="assets/productOne.jpg" alt="product image">
        <div>
          <p>Add To Card</p>
        </div>
      </div>
      <div id="product-title">
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div id="product-price">
        <div id="price">$100 - $300</div>
        <div id="free-shipping">Free Shipping</div>
        <div id="price-discounted">$50 - $100</div>
      </div>
    </div>
    <div class="product-card">
      <div id="product-card-image">
      <img src="assets/productOne.jpg" alt="product image">
        <div>
          <p>Add To Card</p>
        </div>
      </div>
      <div id="product-title">
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div id="product-price">
        <div id="price">$100 - $300</div>
        <div id="free-shipping">Free Shipping</div>
        <div id="price-discounted">$50 - $100</div>
      </div>
    </div>
    <div class="product-card">
      <div id="product-card-image">
      <img src="assets/productOne.jpg" alt="product image">
        <div>
          <p>Add To Card</p>
        </div>
      </div>
      <div id="product-title">
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div id="product-price">
        <div id="price">$100 - $300</div>
        <div id="free-shipping">Free Shipping</div>
        <div id="price-discounted">$50 - $100</div>
      </div>
    </div>
    <div class="product-card">
      <div id="product-card-image">
      <img src="assets/productOne.jpg" alt="product image">
        <div>
          <p>Add To Card</p>
        </div>
      </div>
      <div id="product-title">
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div id="product-price">
        <div id="price">$100 - $300</div>
        <div id="free-shipping">Free Shipping</div>
        <div id="price-discounted">$50 - $100</div>
      </div>
    </div>
    <div class="product-card">
      <div id="product-card-image">
      <img src="assets/productOne.jpg" alt="product image">
        <div>
          <p>Add To Card</p>
        </div>
      </div>
      <div id="product-title">
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
      <div id="product-price">
        <div id="price">$100 - $300</div>
        <div id="free-shipping">Free Shipping</div>
        <div id="price-discounted">$50 - $100</div>
      </div>
    </div>
  </div>
</section>
