
#products-section {
  --xs-columns: repeat(2, 1fr);
  --sm-columns: repeat(2, 1fr);
  --md-columns: repeat(3, 1fr);
  --lg-columns: repeat(4, 1fr);
}

#products-section {
  background-color: aqua;
}
#products-box{
  display: grid;
  grid-template-columns: var(--lg-columns);
  gap: 5px;
  align-items: center;
  justify-items: center;
}

.product-card{
  max-width: 400px;
  width: 100%;

  border: 1px solid black;
}

#product-card-image img{
  width: 100%;
}

@media screen and (max-width: var(--xs)) {
  #products-box {
    background-color: black;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}
