<header>
  <div>
    <div id="promotional-top-bar">Storewide 50% off sales!</div>
    <div id="box-header">
      <div id="search-box">
        <div>
          <input type="text" placeholder="Search">
          <div id="search-icon"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </div>
      <div id="title-logo">
        <p>Forniture Shop</p>
      </div>
      <nav>
        <div id="cart">
          <i class="fa-solid fa-cart-shopping fa-sm"></i>
          <span>Cart</span>
        </div>
      </nav>
    </div>
  </div>
</header>
